.card {
    width: 30%;
}

form {
    background-color: white;
}

body {
    background-image: url('https://images.unsplash.com/photo-1589030343991-69ea1433b941?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width:375px) and (max-width: 600px) {
    .card {
        width: 80%;
    }
}

@media (min-width:600px) and (max-width: 992px) {
    .card {
        width: 80%;
    }
}

@media (max-width:992px) and (max-width: 1200px) {
    .card {
        width: 80%;
    }
}